SPRING_DATASOURCE_URL=jdbc:postgresql://<HOST_DO_NEON>:5432/<NOME_DB>?sslmode=require
SPRING_DATASOURCE_USERNAME=seu_usuario_do_neon
SPRING_DATASOURCE_PASSWORD=sua_senha_do_neon
SPRING_JPA_HIBERNATE_DDL_AUTO=validate
PORT=8081
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
